{% extends 'communities/community_base.html' %}
{% block precommunity %}
<div class="col-md-4">
  <div class="content">
    {% if user.is_authenticated %}
      <h2>Welcome Back!
        <a href="{% url 'posts:for_user' username=user.username %}">@{{user.username}}</a>
      </h2>
    {% endif %}
    <h2>Communities</h2>
    <p>Welcome to the communities page!</p>

  </div>
  {% if user.is_authenticated %}
  <a href="{% url 'communities:create' %}" class='btn btn-md btn-fill btn-primary'>
    <span class='glyphicon glyphicon-plus-sign'>Create A Community!</span>
  </a>
  {% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
  <div class="list-community">
    {% for community in object_list %}
    <a class='list-community-item' href="{% url 'community:single' slug=community.slug %}">
        <h3 class='title list-community-item-heading'>{{community.name}}</h3>
        <div class="list-community-item-text container-fluid">
          {{community.description_html|safe}}
          <div class="row">
            <div class="col-md-4">
              <span class= 'badge'>{{community.members.count}}</span>
              member{{community.members.count|pluralize}}
            </div>
            <div class="col-md-4">
              <span class='badge'>{{community.posts.count}}</span>
              post{{community.posts.count|pluralize}}
            </div>
          </div>
        </div>
    </a>
    {% endfor %}

  </div>
</div>

{% endblock %}
